Repository Tap30/web-components, pull requests merged in 2025-03, with the labels that each got.

#365 chore(theme): bump version
  packages/theme/package.json
Labels: release

#369 fix(theme): rename stroke and color token group names
  packages/theme/src/default-theme/tokens.css
  packages/theme/src/default-theme/tokens.ts
  packages/theme/src/types.ts
Labels: bugfix, package: theme

#371 feat(react): add events to react generated components
  .gitignore
  docs/components/[component].paths.ts
  docs/sidebar.ts
  package.json
  packages/react-components/scripts/generate.ts
  packages/react-components/src/Avatar.ts
  packages/react-components/src/Badge.ts
  packages/react-components/src/BadgeWrapper.ts
  packages/react-components/src/Banner.ts
  packages/react-components/src/BottomNavigation.ts
  packages/react-components/src/BottomNavigationItem.ts
  packages/react-components/src/BottomSheet.ts
  packages/react-components/src/Button.ts
  packages/react-components/src/ButtonGroup.ts
  packages/react-components/src/ChatBubbleIn.ts
  packages/react-components/src/ChatBubbleOut.ts
  packages/react-components/src/Checkbox.ts
  packages/react-components/src/Chip.ts
  packages/react-components/src/ChipGroup.ts
  packages/react-components/src/Divider.ts
  packages/react-components/src/EmptyState.ts
  packages/react-components/src/FileInput.ts
  packages/react-components/src/IconButton.ts
  packages/react-components/src/Modal.ts
  packages/react-components/src/Notice.ts
  packages/react-components/src/PinInput.ts
  packages/react-components/src/Pinwheel.ts
  packages/react-components/src/PinwheelGroup.ts
  packages/react-components/src/PinwheelItem.ts
  packages/react-components/src/ProgressIndicator.ts
  packages/react-components/src/Radio.ts
  packages/react-components/src/RateSlider.ts
  packages/react-components/src/SegmentedView.ts
  packages/react-components/src/SegmentedViewItem.ts
  packages/react-components/src/Skeleton.ts
  packages/react-components/src/Snackbar.ts
  packages/react-components/src/Spinner.ts
  packages/react-components/src/Stepper.ts
  packages/react-components/src/Switch.ts
  packages/react-components/src/TextArea.ts
  packages/react-components/src/TextField.ts
  packages/react-components/src/Tooltip.ts
  packages/react-components/templates/component.txt
  packages/web-components/package.json
  packages/web-components/scripts/generate-metadata.ts
  packages/web-components/src/bottom-navigation/index.ts
  packages/web-components/src/segmented-view/index.ts
  scripts/generate-cem.ts
Labels: package:react-components

#387 chore(web-components/test): add tests for `autofocus`
  packages/web-components/src/button-group/button-group.test.ts
  packages/web-components/src/button/icon-button/icon-button.test.ts
  packages/web-components/src/button/standard/button.test.ts
  packages/web-components/src/checkbox/checkbox.test.ts
  packages/web-components/src/file-input/file-input.test.ts
  packages/web-components/src/file-input/file-input.ts
  packages/web-components/src/pin-input/pin-input.test.ts
  packages/web-components/src/pinwheel/constants.ts
  packages/web-components/src/pinwheel/pinwheel.test.ts
  packages/web-components/src/pinwheel/pinwheel.ts
  packages/web-components/src/radio/radio.test.ts
  packages/web-components/src/rate-slider/rate-slider.test.ts
  packages/web-components/src/stepper/stepper.test.ts
  packages/web-components/src/switch/switch.test.ts
  packages/web-components/src/text-area/text-area.test.ts
  packages/web-components/src/text-field/text-field.test.ts
Labels: test, package: web-components

#396 feat(web-components/tests): setup a11y test using axe
  internals/test-helpers/index.ts
  package.json
  packages/web-components/src/text-field/text-field.test.ts
  pnpm-lock.yaml
Labels: test, accessibility, package: web-components

#402 ci(workflows): add update-snapshots workflow
  .github/workflows/deploy.yml
  .github/workflows/development.yml
  .github/workflows/npm-publish.yml
  .github/workflows/update-snapshots.yml
  package.json
  packages/web-components/package.json
  packages/web-components/playwright.config.ts
Labels: automation
